header {
  padding: 1rem;
  background: #CE2829;
  text-align: center;
  color: white;
}
.content-section {
  display: flex;
  background: white;
  color: black;
  flex-direction: column;
}
button {
  color: white;
}