header {
  padding: 1rem;
  background: #CE2829;
  text-align: center;
  color: white;
}

.black.write {
  color: black;
  background-color: #CE2829;
}
.red-backgorund {
  background-color: #CE2829;
  color: white;
  display: flex;
  max-width: 700px;
  margin: auto;
  padding: 10px;
}
.main-section{
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 10px;
}

.pizza-name{
  display: flex;
  justify-content: space-between;
}

.pizza-type {
  display: flex;
  justify-content: space-between;
}

.preferences {
  display: flex;
  gap: 10%;
}

.alt-column {
  display: flex;
  flex-direction: column;
}

.pizza-size{
  display: flex;
  flex-direction: column;
}

.space-between {
  padding-top: 30px;
  padding-bottom: 40px;
}

button {
  color: white;
}

.main-page-body {
  background-image: url(
    "C:\Users\Dell\Documents\GitHub\fsweb-s7-challenge-pizza\Assets\mile1-assets\home-banner.png"
    );
    background-size: "cover";
    height: 100vh;
    font-size: 50px;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

.main-page-button {
  text-decoration: none;
  color: black;
  background-color: yellow;
  padding: 10px 50px;
  font-size: 20px;
  border-radius: 20px;
  border: yellow;
}

.last-page {
  background-color: #CE2829;
  color: white;
  font-size: 50px;
  text-align: center;
  align-content: center;
}

.writing-anasayfa {
  text-decoration: none;
  color: white;
}